body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
}

footer {
    padding: 24px, 0;



}

img {
    height: 200px;

}
nav{
    border: solid 1px;
    border-color: black;
    padding: 16px;
}
